[tool.poetry]
name = "celery-types"
version = "0.13.0"
description = "Type stubs for Celery and its related packages"
repository = "https://github.com/sbdchd/celery-types"
readme = "README.md"
authors = ["Steve Dignam <steve@dignam.xyz>"]
keywords = [
  "celery",
  "kombu",
  "vine",
  "amqp",
  "billiard",
  "django_celery_results",
  "types",
  "mypy",
  "stubs"
]

packages = [
  { include = "amqp-stubs" },
  { include = "billiard-stubs" },
  { include = "celery-stubs" },
  { include = "django_celery_results-stubs" },
  { include = "ephem-stubs" },
  { include = "kombu-stubs" },
  { include = "vine-stubs" },
]

[tool.poetry.dependencies]
python = "^3.7"
typing-extensions = ">=3.10.0,<5.0.0"

[tool.poetry.dev-dependencies]
bpython = "^0.21.0"
celery = "^5.0"
black = {version = "21.9b0", allow-prereleases = true}
flake8 = "^3.8"
flake8-pyi = "^20.10"
isort = {version = "5.9.3", allow-prereleases = true}
django-types = "^0.3.1"
django = "^3.1"
mypy = "^0.950"

[tool.isort]
profile="black"

[build-system]
requires = ["poetry>=0.12", "setuptools"]
build-backend = "poetry.masonry.api"
